p {
    padding: 12px 0;
}

footer {
	text-align: center;
	padding-top: 3em;
}

.stats {
    display: none;
}

/* @TODO - put environment in body class */
.env--test .stats {
    display: block;
}

.alignright {
    text-align: right;
}

.bg-padded {
	padding: 15px;
}

.dispute__option {
    text-align: center;
    margin-top: 3em;
}

.dispute__option img {
    width: 90%;
    display: block;
    max-width: 200px;
    margin: 0 auto;
}

.logo {
    max-width: 230px;
    padding: 12px 0;
}