<h1>Dispute</h1>

<h2><?php echo $dispute->getTitle(); ?></h2>

<div class="lifespan_status">
    <?php echo $dispute->getLifespan()->status(); ?>
</div>

<?php if (!$dispute->waitingForLawFirmB()) : ?>
    <p>
        Initiatiated by company: <?php echo $dispute->getLawFirmA()->getName(); ?>, represented by <?php echo $dispute->getAgentA()->getName(); ?>
    </p>
    <p>
        <em><?php echo $dispute->getSummaryFromPartyA(); ?></em>
    </p>
    <p>
        Initiated against company: <?php echo $dispute->getLawFirmB()->getName(); ?>, represented by <?php echo $dispute->getAgentB()->getName(); ?>
    </p>
    <p>
        <em><?php echo $dispute->getSummaryFromPartyB(); ?></em>
    </p>
<?php endif; ?>

<?php echo $this->render('dashboard.html'); ?>