<h1>Dispute</h1>

<h2><?php echo $dispute->getTitle(); ?></h2>

<?php if (!$dispute->waitingForLawFirmB()) : ?>
    <p>
        Initiatiated by company: <?php echo $dispute->partyA()->getLawFirm()->getName(); ?>, represented by <?php echo $dispute->partyA()->getAgent()->getName(); ?>
    </p>
    <p>
        Initiated against company: <?php echo $dispute->partyB()->getLawFirm()->getName(); ?>, represented by <?php echo $dispute->partyB()->getAgent()->getName(); ?>
    </p>
<?php endif; ?>

<?php echo $this->render('dashboard.html'); ?>