<h1>Dispute: <?php echo $dispute->getTitle(); ?></h1>

<div class="lifespan_status bg-padded bg-primary">
    <?php
        if ($dispute->getLifespan()) {
            echo $dispute->getLifespan()->status();
        }
    ?>
</div>

<div class="row">

    <div class="col-sm-6">
        <?php if ($dispute->getLawFirmA()) : ?>
            <p>
                Initiatiated by company: <?php echo $dispute->getLawFirmA(); ?>
                
                <br />

                <?php if ($dispute->getAgentA()) : ?>
                    Represented by: <?php echo $dispute->getAgentA(); ?>
                <?php else: ?>
                    Waiting for <?php echo $dispute->getLawFirmA()->getName(); ?> to assign an agent to the dispute.
                <?php endif; ?>
            </p>
        <?php endif; ?>
    </div>

    <div class="col-sm-6">
        <?php if ($dispute->getLawFirmB()) : ?>
            <p>
                Opened against company: <?php echo $dispute->getLawFirmB(); ?>
                
                <br />

                <?php if ($dispute->getAgentB()) : ?>
                    Represented by: <?php echo $dispute->getAgentB(); ?>
                <?php else: ?>
                    Waiting for <?php echo $dispute->getLawFirmB()->getName(); ?> to assign an agent to the dispute.
                <?php endif; ?>
            </p>
        <?php else: ?>
            <p>Still need to open the dispute against another law firm.</p>
        <?php endif; ?>
    </div>

</div>

<h2>Dispute summaries</h2>

<div class="row">
    <div class="col-sm-6">
        <?php if ($dispute->getSummaryFromPartyA()) : ?>
            <p>
                <em><?php echo $dispute->getSummaryFromPartyA(); ?></em>
            </p>
        <?php else: ?>
            <p>
                <em>Awaiting summary.</em>
            </p>
        <?php endif; ?>
    </div>

    <div class="col-sm-6">
        <?php if ($dispute->getSummaryFromPartyB()) : ?>
            <p>
                <em><?php echo $dispute->getSummaryFromPartyB(); ?></em>
            </p>
        <?php else: ?>
            <p>
                <em>Awaiting summary.</em>
            </p>
        <?php endif; ?>
    </div>
</div>

<?php echo $this->render('dashboard.html'); ?>