<header class="container">
    <div class="row">
        <div class="col-sm-5">
            <a href="/"><img class="logo" src="view/images/logo.png"></a>
        </div>

        <div class="col-sm-7 text-right">
            <p>
                Welcome back, <?php echo $account->getName() ; ?>
                <?php
                    if (count($notifications) > 0) {
                        echo ' | <a href="/notifications" class="notification_link"><img src="/view/images/notification--red.png" /> ' . count($notifications) . ' notifications</a> | ';
                    }
                    else {
                        echo ' | ';
                    }
                ?>
                <a href="/logout">Logout</a>
            </p>
        </div>
    </div>
</header>
