<header class="container">
    <div class="row">
        <div class="col-sm-7">
            <a href="/"><img class="logo" src="view/images/logo.png"></a>
            <a href="/about">About</a> |
            <a href="/installation">Installation</a> |
            <a href="/docs/index.html">API Documentation</a> |
            <a href="https://github.com/ChrisBAshton/major-project">GitHub</a>
        </div>

        <div class="col-sm-5 text-right">
            <p>
                <a href="/login">Login</a> | <a href="/register">Register</a>
            </p>
        </div>
    </div>
</header>
