<form method="post" action="/disputes/<?php echo $dispute->getDisputeId(); ?>/lifespan/respond">
    <p>You have been sent a lifespan offer.</p>

    <p>
        You have until <strong><?php echo prettyTime($dispute->getLatestLifespan()->validUntil()); ?></strong> to accept or decline the lifespan offer. The dispute cannot continue until a dispute lifespan has been negotiated.
    </p>

    <p>
        <strong>Proposed start date:</strong> <?php echo prettyTime($dispute->getLatestLifespan()->startTime()); ?>
    </p>

    <p>
        <strong>Proposed end date:</strong> <?php echo prettyTime($dispute->getLatestLifespan()->endTime()); ?>
    </p>

    <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-lg btn-success btn-block" type="submit" name="resolution" value="accept">Accept</button>
        </div>
        <div class="col-sm-6">
            <button class="btn btn-lg btn-danger btn-block" type="submit" name="resolution" value="decline">Decline</button>
        </div>
    </div>
</form>
