<h1>Propose a Lifespan</h1>

<?php if (noSystemMessages()) : ?>
    <p class="bg-padded bg-info">
        Propose a lifespan for the dispute.
    </p>
<?php endif; ?>

<form name="dispute" method="post">

    <div class="row">
       <div class='col-sm-4'>
            <label for="start_time">Dispute lifespan start date:</label>
            <div class="form-group">
                <div class='input-group date datetime_picker'>
                    <input id="start_time" name="start_time" type='text' class="form-control" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
       <div class='col-sm-4'>
            <label for="end_time">Dispute lifespan end date:</label>
            <div class="form-group">
                <div class='input-group date datetime_picker'>
                    <input id="end_time" name="end_time" type='text' class="form-control" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <label for="valid_until">Offer must be accepted by other party by:</label>
            <div class="form-group">
                <div class='input-group date datetime_picker'>
                    <input id="valid_until" name="valid_until" type='text' class="form-control" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Make lifespan offer</button>
    </div>

    <link rel="stylesheet" href="view/css/jquery.datetimepicker.css" />
    <script src="view/js/jquery.min.js"></script>
    <script src="view/js/jquery.datetimepicker.js"></script>
    <script type="text/javascript">
        // http://xdsoft.net/jqplugins/datetimepicker/
        $(document).ready(function () {
            $('.datetime_picker input').datetimepicker({
              minDate:     0 // today
            });
        });
    </script>

</form>
