header, footer {
	text-align: center;
}

footer {
	padding-top: 3em;
}

.bg-padded {
	padding: 15px;
}

.dispute__option {
    text-align: center;
    margin-top: 3em;
}

.dispute__option img {
    width: 90%;
    display: block;
    max-width: 200px;
    margin: 0 auto;
}