<h1>Open Dispute</h1>

<?php if (noSystemMessages()) : ?>
    <p class="bg-padded bg-info">
        Initiate your dispute against another company.
    </p>
<?php endif; ?>

<form name="dispute" method="post">
    <div class="col-lg-4">
        <label for="law_firm_b">Select the opposing company:</label>
    </div>
    <div class="col-lg-8">
        <select name="law_firm_b" id="law_firm_b" class="form-control">
            <option value="---">---</option>
            <?php
                foreach($lawFirms as $lawFirm) {
                    echo '<option value="' . $lawFirm->getLoginId() . '">' . $lawFirm->getName() . '</option>';
                }
            ?>
        </select>
    </div>

    <div class="col-lg-12">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Open Dispute</button>
    </div>
</form>
